<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<!-- HEADER -->
<header class="top-header">
    <h2>🌱 Smart Waste System</h2>

    <div class="header-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        
        <a href="/history">History</a>
        <a href="/logout">Logout</a>
    </div>
</header>

<!-- MAIN CONTENT -->
<div class="main">
    {% block content %}{% endblock %}
</div><br><br>

<!-- FOOTER -->
<footer class="footer">
    <p>© 2026 Smart Waste System | Made for Final Year Project 🌍</p>
</footer>

</body>
</html>